@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "tailwindcss";



@layer base {
  html {
    font-family: 'Montserrat', system-ui, sans-serif;
  }
}

.custom-swiper .swiper-pagination-bullet {
  width: 64px;
  height: 10px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  margin:40px 0.5px !important;
  
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.custom-swiper .swiper-pagination {
  display: none;
}

.custom-swiper .swiper-button-prev {
  margin-left: 16px !important ;
}

.custom-swiper .swiper-button-next {
  margin-right: 16px ;
}

@media (min-width: 768px) {
  
  .custom-swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
